<a href="https://colab.research.google.com/github/mroopeshunt/Roopesh_INFO5502_Spring2022/blob/main/lab_assignment_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first Lab-assignment (01/25/2022, 50 points in total)**

(1) Write a Python program to count the number of characters in a string. (5 points)

Sample String : 'google.com', 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [5]:
# write your answer here
input_str = input("Enter the Sample String: ")
result = {}
for char in set(input_str):
  # fetching count of each char and adding it to result dictionary
  result[char] = input_str.count(char)

print(result)

Enter the Sample String: google.com
{'g': 2, 'c': 1, 'e': 1, 'm': 1, '.': 1, 'l': 1, 'o': 3}

(2) Write a Python program to sum all the items in a list. (5 points)

In [60]:
# write your answer here
input_list = [1, 2, 3, 4, 5]
sum = 0
for num in input_list:
 # Adding each num in the list
 sum = sum + num

print("The sum of the elements in the list is: {}".format(sum))

The sum of the elements in the list is: 15

(3) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (5 points)

Sample String : 'restart', 

Expected Result : 'resta\$t'

In [74]:
# write your answer here
input_str = "restart"
# replacing all occurences of first char except the first char itself...
print("".join((input_str[0], input_str[1:].replace(input_str[0], "*"))))

resta*t

(4) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (5 points)

In [62]:
# write your answer here
a = int(input("Enter the a value: "))
b = int(input("Enter the b value: "))

S = 3.14 * (1 + (a/b)) ** 3
print("The result is: {}".format(S))

Enter the a value: 4
Enter the b value: 6
The result is: 14.537037037037033

(5) Write a Python program to concatenate following dictionaries to create a new one. (5 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [27]:
# write your answer here
dic1={1:10, 2:20}; dic2={3:30, 4:40}; dic3={5:50,6:60}

result = {}
for i in [dic1, dic2, dic3]:
  # adding each dictionary to result dictionary
  result.update(i)

print(result)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(6) Write a Python program to check whether an element exists within a tuple. (5 points)

In [63]:
# write your answer here
sample_tuple = ("university", "north texas")

element = input("Enter an element you want to search in the tuple: ")

if element in sample_tuple:
  print("The element is present in the tuple!!!")
else:
  print("The element is not present in the tuple!!!")

Enter an element you want to search in the tuple: sf
The element is not present in the tuple!!!

(7) Write a Python program to find maximum and the minimum value in a set. (5 points)

In [43]:
# write your answer here
import sys
input_set = {25, 36, 21, 19, 13, 34, 37}
# uisng max(), min() built-in functions...
print("Maximum value in the set is: {}".format(max(input_set)))
print("Minimum value in the set is: {}".format(min(input_set)))

Maximum value in the set is: 37
Minimum value in the set is: 13

(8) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list: (5 points)

studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386',
           'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']

In [102]:
# write your answer here
import numpy as np, random
studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386', 'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']

# the len_group numbers sum upto 30
len_group = [5, 6, 4, 6, 5, 4]
result = []
for length in len_group:
  # generating a sample of length in len_group  
  group = random.sample(studnet_list, length)
  # remove those elements from the studnet_list that are in group sample,
  # so that the next time those elements will not be in another sample. 
  studnet_list = list(set(studnet_list) ^ set(group))
  # Adding the random sample to a resultant 2d array.
  result = result + [group]
    
# printing the 6 groups.
for row in result:
    print(row, end= '\n')

['ak0956', 'ms1500', 'nv0234', 'sg1297', 'sc1229']
['sa1198', 'hy0232', 'sk1313', 'kg0470', 'gn0108', 'vm0377']
['jl1252', 'ds0814', 'aos0040', 'dr0609']
['av0659', 'pr0353', 'bg0320', 'sk1390', 'sm1907', 'kg0569']
['sb1357', 'sm1640', 'sk1458', 'ja0964', 'fh0141']
['ak0934', 'sk1386', 'nm0618', 'vb0218']

(9) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (5 points)

In [48]:
from numpy.core.defchararray import endswith
# write your answer here
import numpy as np
arr = np.array([2, 3, 4, 5, 3, 4, 5, 3, 5, 4, 7, 8, 3, 6, 2])
#arr = np.array([2, 3, 4, 5])

flag = 0

for num in set(arr):
  # get the count of occurences that are greater than 1.
  if np.count_nonzero(arr == num) > 1:
    flag = 1
    print(num, end = ', ')

# if there are no duplicate elements, tehn we print '-1'.
if flag == 0:
  print("-1")

2, 3, 4, 5,

(10) Write a Python program to select all the Sundays of a specified year. (5 extra points)

In [59]:
# write your answer here
import pandas as pd

def all_sundays(year):
  # date_range(): we specify year and frequency and strftime to determine the output format.
  return pd.date_range(start=str(year), end=str(year+1), freq='W-SUN').strftime('%d-%B-%Y').tolist()

year = int(input("Enter the year you want to get Sundays of: "))
all_sundays(year)

Enter the year you want to get Sundays of: 2018

['07-January-2018',
 '14-January-2018',
 '21-January-2018',
 '28-January-2018',
 '04-February-2018',
 '11-February-2018',
 '18-February-2018',
 '25-February-2018',
 '04-March-2018',
 '11-March-2018',
 '18-March-2018',
 '25-March-2018',
 '01-April-2018',
 '08-April-2018',
 '15-April-2018',
 '22-April-2018',
 '29-April-2018',
 '06-May-2018',
 '13-May-2018',
 '20-May-2018',
 '27-May-2018',
 '03-June-2018',
 '10-June-2018',
 '17-June-2018',
 '24-June-2018',
 '01-July-2018',
 '08-July-2018',
 '15-July-2018',
 '22-July-2018',
 '29-July-2018',
 '05-August-2018',
 '12-August-2018',
 '19-August-2018',
 '26-August-2018',
 '02-September-2018',
 '09-September-2018',
 '16-September-2018',
 '23-September-2018',
 '30-September-2018',
 '07-October-2018',
 '14-October-2018',
 '21-October-2018',
 '28-October-2018',
 '04-November-2018',
 '11-November-2018',
 '18-November-2018',
 '25-November-2018',
 '02-December-2018',
 '09-December-2018',
 '16-December-2018',
 '23-December-2018',
 '30-December-2018']